# This workflow tests the project on all platforms.

# For more information see: 
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Test Runner

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest # macos-15

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable # 16.4

      - name: Tests All Platforms
        run: bash scripts/test.sh